@import "tailwindcss";
html{
    scroll-behavior: smooth;
}
.slick-slide > div{
    margin: 0 10px;
}
:root{
    --body:white;
    --text:black;
    --nav:rgb(6, 6, 84);
    --about-first:#fffbeb;
    --about-second:#fefce8;
    --pic-border:#172554;
    --text-second:#111827;
    --card-bg:#d9d9d9;
    --bg:white;
    --footer-text:#bdbbbb;
   
}
.dark{
    --body:rgb(1,1,63);
    --text:white;
    --nav:rgb(43, 191, 241);
    --about-first:#111827;
    --about-second:#1f2937;
    --pic-border:#e7ba07;
    --text-second:#d1d5db;
    --card-bg:white;
    --bg:#d9d9d9;
    --footer-text:black;
}
@layer base {
    body{
        background-color:var(--body);
        color: var(--text);
    }
}